


.text-red {
    color: red;
    display: flex;
    justify-content: center;
}

.text-purple {
    color: purple;
    display: flex;
    justify-content: center;
}

.text-orange {
    color: orange;
}

li  {
    display: inline;
    text-align: center;
    
}

